@use "../../styles/base/variables.scss";

.register {
    max-width: 450px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

    &__title {
        color: var(--primary);
        margin-bottom: 5px;
    }

    &__subtitle {
        color: var(--primary-600);
        margin-bottom: 40px;
    }
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__text {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        color: var(--primary-600);

        a {
            color: var(--accent);
        }
    }
}
