@use "../../styles/base/variables.scss";
@use "../../styles/base/typography.scss";

.button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 30px;
    border-radius: 10px;
    background-color: variables.$primary;
    @extend %epilogue-500;
    color: variables.$primary-700;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s variables.$transitionTimingFunc;

    &:hover {
        background-color: rgba(variables.$primary, 0.6);
    }

    &--outline {
        background-color: transparent;
        border: 1px solid variables.$primary;
        color: variables.$primary;

        &:hover {
            background-color: rgba(variables.$primary, 0.2);
        }
    }
}
