@use "../../styles/base/typography.scss";
@use "../../styles/base/variables.scss";

.typing-zone {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.words {
    position: relative;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    user-select: none;
    row-gap: 15px;
}

.word {
    display: inline-flex;
}

.letter {
    @extend %body-default-action;
    color: variables.$accent;
}

.correct {
    color: variables.$primary;
}

.incorrect {
    color: variables.$error-color;
}

.space {
    width: 10px;
    margin-top: -4px;

    &--incorrect {
        background-color: #f7768e;
    }
}

.countdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @extend %epilogue-700;
    font-size: 500px;
    color: rgba(variables.$accent-100, 0.05);
    z-index: -1;
    user-select: none;

    &--hide {
        display: none;
    }
}

.restart {
    cursor: pointer;
}
