@use "../../styles/base/typography.scss";
@use "../../styles/base/variables.scss";

// .blinking-cursor {
//     font-weight: 100;
//     font-size: 30px;
//     color: #2e3d48;
//     -webkit-animation: 1s blink step-end infinite;
//     -moz-animation: 1s blink step-end infinite;
//     -ms-animation: 1s blink step-end infinite;
//     -o-animation: 1s blink step-end infinite;
//     animation: 1s blink step-end infinite;
// }

// @keyframes blink {
//     from,
//     to {
//         color: transparent;
//     }
//     50% {
//         color: black;
//     }
// }

.typing-zone {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.words {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    user-select: none;
    column-gap: 10px;
    row-gap: 15px;
}

.word {
    display: inline-flex;
    // margin: 5px 7.5px;
}

.letter {
    @extend %body-default-action;
    color: variables.$accent;
}

.correct {
    color: variables.$primary;
}

.incorrect {
    color: variables.$error-color;
}

.countdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @extend %epilogue-700;
    font-size: 500px;
    color: rgba(variables.$accent-100, 0.05);
    z-index: -1;
    user-select: none;

    &--hide {
        display: none;
    }
}

.restart {
    cursor: pointer;
}
