@use "../../../styles/base/variables.scss";
@use "../../../styles/base/typography.scss";

.experience {
    display: flex;
    align-items: center;
    gap: 20px;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 5px;
    }

    &__level {
        color: var(--primary);
    }

    &__text {
        @extend %body-small-medium;
        color: var(--primary-600);
    }

    &__diagram {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 768px) {
    .experience {
        &__diagram {
            display: none;
        }
    }
}

@media (max-width: 600px) {
    .experience {
        &__level {
            font-size: 24px;
        }
    }
}

@media (max-width: 480px) {
    .experience {
        &__inner {
            width: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
        }
    }
}
