@use "../../styles/base/variables.scss";
@use "../../styles/base/typography.scss";

.themes-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    @extend %body-default-action;
    color: var(--accent);
    cursor: pointer;

    &[data-theme-current="true"],
    &:hover {
        background-color: var(--accent-600);
    }

    &__palette {
        width: 70px;
        height: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border-radius: 10px;
        overflow: hidden;
    }
}
