@use "../../styles/base/typography.scss";
@use "../../styles/base/variables.scss";

.header {
    display: flex;
    justify-content: space-between;

    &__logo {
        display: inline-block;

        svg {
            width: 100%;
            height: auto;
        }
    }
}

.header-nav {
    &__links {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__link {
        @extend %body-default-action;
        color: var(--accent);
    }
}

@media (max-width: 600px) {
    .header {
        gap: 30px;
    }
}

@media (max-width: 480px) {
    .header {
        &__logo svg {
            width: 80%;
        }
    }
}
