@use "../../styles/base/variables.scss";
@use "../../styles/base/typography.scss";

.notification {
    min-width: 370px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    transform: translateX(1000px);
    transition: transform 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
    padding: 20px;
    border: 1px solid var(--primary-600);
    border-radius: 10px;
    background-color: transparent;
    overflow: hidden;
    z-index: 20;

    &__inner {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__icon {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__title {
        @extend %inter-400;
        font-size: 17px;
        color: var(--primary);
    }

    &__subtitle {
        @extend %body-small-regular;
        color: rgba(var(--rgb-primary), 0.5);
    }

    &__cross {
        cursor: pointer;
    }

    &__progressbar {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(var(--rgb-primary-600), 0.2);
        transition: width 0.2s variables.$transitionTimingFunc;
    }

    &__inner,
    &__cross {
        z-index: 10;
    }

    &--active {
        transform: translateX(0);
    }

    &--error {
        border-color: #500000;

        .notification {
            &__title {
                color: var(--error-color);
            }

            &__subtitle {
                color: rgba(var(--error-color), 0.5);
            }

            &__progressbar {
                background-color: rgba(80, 0, 0, 0.2);
            }
        }
    }

    &--info {
        border-color: #002f55;

        .notification {
            &__title {
                color: var(--info-color);
            }

            &__subtitle {
                color: rgba(var(--info-color), 0.5);
            }

            &__progressbar {
                background-color: rgba(0, 47, 85, 0.2);
            }
        }
    }

    &--warning {
        border-color: #4d1c07;

        .notification {
            &__title {
                color: #fa5b17;
            }

            &__subtitle {
                color: rgba(#fa5b17, 0.5);
            }

            &__progressbar {
                background-color: rgba(77, 28, 7, 0.2);
            }
        }
    }
}
