@use "../../styles/base/typography.scss";
@use "../../styles/base/variables.scss";

.typing-zone {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.typing-zone-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55dvw;
    color: var(--accent);

    &__settings {
        width: 28px;
        height: 28px;
        cursor: pointer;
    }

    &__countdown {
        display: block;
        font-size: 17px;
    }
}

.countdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @extend %epilogue-700;
    font-size: 500px;
    color: rgba(var(--rgb-primary-100), 0.05);
    z-index: -1;
    user-select: none;

    &--hide {
        display: none;
    }
}

.restart {
    position: relative;
    cursor: pointer;

    &:focus {
        outline: none;

        &::before {
            content: "";
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            width: 100px;
            height: 50px;
            border: 1px solid var(--primary);
            border-radius: 10px;
        }
    }
}

@media (max-width: 800px) {
    .typing-zone-header {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .typing-zone-header {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .typing-zone-header {
        width: 100%;
    }
}
