@use "../../styles/base/variables.scss";
@use "../../styles/base/typography.scss";

.mobile-config-bar {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: -8px;
    padding: 25px;
    border: 1px solid rgba(var(--rgb-white-color), 0.3);
    border-radius: 40px;
    background-color: rgba(var(--rgb-white-color), 0.05);
    backdrop-filter: blur(15px);

    &-modal__item {
        padding: 20px;
        @extend %body-default-action;
        color: var(--accent);

        &:hover {
            background-color: var(--accent-600);
        }
    }
}

.mobile-config-bar-item__value {
    @extend %body-default-action;
    color: var(--accent);
    cursor: pointer;
    white-space: nowrap;

    &__wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__wrapper--options {
        width: 115px;
        gap: unset;
        justify-content: space-between;
    }

    &--enabled {
        color: var(--primary);
    }
}

.mobile-config-bar {
    flex-direction: column;
    background-color: transparent;
    border: none;
    padding: 0;
}

.mobile-config-bar-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    &__title,
    &__date {
        color: var(--accent);
    }

    &__title {
        font-size: 38px;
        @extend %epilogue-700;
    }
}

.mobile-config-bar-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__title {
        color: var(--accent);
        font-size: 17px;
    }

    &__value {
        font-size: 14px;
        padding: 10px 15px;
        border: 1px solid var(--accent);
        border-radius: 10px;

        &--enabled {
            border-color: var(--primary);
        }
    }
}

@media (max-width: 480px) {
    .mobile-config-bar {
        gap: 30px;
    }

    .mobile-config-bar-item {
        gap: 15px;
        flex-direction: column;
        align-items: flex-start;
    }
}
