@use "../../styles/base/variables.scss";
@use "../../styles/base/typography.scss";

.profile {
    display: flex;
    align-items: center;
    gap: 20px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 90px;
        padding: 100px;
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        padding: 10px;
        border: 1px solid var(--primary);
        border-radius: 50%;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__name {
        color: var(--primary);
    }

    &__text {
        @extend %body-small-medium;
        color: var(--primary-600);
    }
}

.header {
    display: flex;
    justify-content: space-between;
}

.detailed-info {
    display: flex;
    justify-content: space-between;
}

.bio {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__title {
        color: var(--accent);
    }

    &__description {
        color: rgba(var(--rgb-primary), 0.5);
    }
}

.statistic {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px 60px;
    border: 1px solid var(--primary);
    border-radius: 40px;
    gap: 30px;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 60px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        text-align: center;
        padding: 0 25px;
    }

    &__title {
        @extend %epilogue-500;
        font-size: 52px;
        color: var(--accent);
    }

    &__subtitle {
        color: var(--primary-600);
        width: max-content;
    }
}

.achievements {
    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 190px;
        justify-self: center;
        padding: 70px 115px 0;
        gap: 30px;
    }
}

.achievements-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
        color: var(--primary);
    }

    &__progress {
        display: flex;
        align-items: center;
        gap: 15px;
        color: var(--primary);

        span {
            color: rgba(var(--primary), 0.5);
        }
    }
}

@media (max-width: 1850px) {
    .statistic {
        padding: 40px 40px;

        &__wrapper {
            justify-content: space-evenly;
        }

        &__item {
            padding: 0 15px;
        }

        &__title {
            font-size: 42px;
        }
    }
}

@media (max-width: 1750px) {
    .achievements {
        &__items {
            grid-template-columns: repeat(3, 1fr);
            padding: 70px 0 0;
        }
    }
}

@media (max-width: 1650px) {
    .statistic {
        gap: 15px;

        &__wrapper {
            gap: 30px;
        }

        &__title {
            font-size: 32px;
        }

        &__subtitle {
            font-size: 15px;
        }
    }
}

@media (max-width: 1400px) {
    .statistic {
        display: flex;
        justify-content: center;

        &__wrapper {
            grid-template-columns: repeat(1, 1fr);
            gap: 40px;
        }

        &__item {
            width: fit-content;
            padding: 0 25px;
        }
    }

    .achievements {
        &__items {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 1024px) {
    .detailed-info {
        flex-direction: column;
        gap: 40px;
    }
}

@media (max-width: 920px) {
    .statistic {
        padding: 40px 0;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        &__wrapper {
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
        }
    }

    .achievements-header {
        p {
            display: none;
        }

        span {
            order: 1;
        }
    }
}

@media (max-width: 800px) {
    .achievements {
        &__items {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .achievements-header {
        justify-content: center;

        &__progress {
            display: none;
        }
    }
}

@media (max-width: 600px) {
    .profile {
        &__wrapper {
            padding: 100px 0;
        }
    }

    .achievements {
        &__items {
            width: 100%;
        }
    }
}

@media (max-width: 480px) {
    .header {
        flex-direction: column;
        gap: 40px;
    }
}

@media (max-width: 370px) {
    .statistic {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        padding: 30px 0;
        justify-items: center;
        column-gap: 0;
        row-gap: 30px;

        &__wrapper {
            grid-template-columns: repeat(1, 1fr);
        }

        &__item {
            padding: 0;
        }
    }
}
