@use "../../styles/base/typography.scss";
@use "../../styles/base/variables.scss";

.footer {
    display: flex;
    justify-content: space-between;

    &__links {
        display: flex;
        align-items: flex-end;
        gap: 10px;
    }

    &__link {
        @extend %body-default-action;
        color: variables.$accent;
    }
}
